
h2 {
  font-size: 60px;
  font-style: italic;
  text-align: left;
  line-height: 1;
  font-family: 'Istok Web', sans-serif;
  padding-bottom: 10px;
  padding-left: 20px;
}

.top {
  padding-top: 150px;
}

.words {
  color: #181818;
}

.boxone {
  width: 300px;
  padding-left: 30px;
}

.boxtwo {
  width: 500px;
  padding-left: 30px;
}

body {
  background-image: url('euwenbackground.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
}

<button class="btn btn-large btn-block btn-primary" type="button">Block level button</button>