
.name {
  margin-top: 280px;
  margin-left: 170px;
  font-family: 'Sacramento', cursive;
  font-size: 60px;
}

.box1 {
  width: 380px;
  margin-left: 190px;
  font-family: 'Sacramento', cursive;
  font-size: 35px;
}

.name2 {
  margin-top: 100px;
  margin-left: 55px;
  font-family: 'Sacramento', cursive;
  font-size: 40px;
}

.box2 {
  width: 450px;
  margin-left: 55px;
  font-family: 'Sacramento', cursive;
  font-size: 30px;
}

.box3 {
  width: 350px;
  text-align: right;
  margin-left: 850px;
  color: #FFFFFF;
}

body {
  background-image: url('euwenbackground.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
}
